src/main/java/bq/cxf/tutorial/simple2/server/wsdlfirst_echo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/wsdlfirst_eho/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsdlfirst_eho" targetNamespace="http://www.example.org/wsdlfirst_eho/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/wsdlfirst_eho/">
      <xsd:element name="echoString">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoStringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoObject">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="echoObjectResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:complexType name="message">
            <xsd:sequence>
      			<xsd:element name="id" type="xsd:string"></xsd:element>
      			<xsd:element name="name" type="xsd:string"></xsd:element>
      			<xsd:element name="content" type="xsd:string"></xsd:element>
      			<xsd:element name="ts" type="xsd:string"></xsd:element>
      		</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoStringRequest">
    <wsdl:part element="tns:echoString" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoStringResponse">
    <wsdl:part element="tns:echoStringResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoObjectRequest">
  	<wsdl:part name="parameters" type="tns:message"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoObjectResponse">
  	<wsdl:part name="parameters" type="tns:message"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsdlfirst_ehco">
    <wsdl:operation name="echoString">
      <wsdl:input message="tns:echoStringRequest"/>
      <wsdl:output message="tns:echoStringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echoObject">
    	<wsdl:input message="tns:echoObjectRequest"></wsdl:input>
    	<wsdl:output message="tns:echoObjectResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsdlfirst_ehco_soap" type="tns:wsdlfirst_ehco">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echoString">
      <soap:operation soapAction="http://www.example.org/wsdlfirst_eho/echoString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsdlfirst_ehco">
    <wsdl:port binding="tns:wsdlfirst_ehco_soap" name="wsdlfirst_ehco">
      <soap:address location="http://localhost:8080/jaxws/ws/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
