src/main/resource/bq/cxf/tutorial/wsdlfirst/echoservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- this is used to show wsdl first way to develop a webservice, publish webservice with a given wsdl file -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bq.cxf.tutorial/echoservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="echoservice" targetNamespace="http://bq.cxf.tutorial/echoservice/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bq.cxf.tutorial/echoservice/">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="echoservice">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest"/>
      <wsdl:output message="tns:echoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="echoserviceSOAP" type="tns:echoservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <soap:operation soapAction="http://bq.cxf.tutorial/echoservice/echo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="echoservice">
    <wsdl:port binding="tns:echoserviceSOAP" name="echoserviceSOAP">
      <soap:address location="http://tutorial.cxf.bq/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
